button {
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.image {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid silver;
}

.scanned-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.type {
  font-size: 30px;
  font-weight: bold;
}

.detected {
  color: green;
}

.not-detected {
  color: red;
}

#scanner canvas.drawingBuffer {
  margin-left: -640px;
}
